/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@import "~@fortawesome/fontawesome-free/css/all.css";

a {
  color: #0366d6;
}

i {
  color: #0366d6;
  cursor: pointer;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/*form styles*/

.formFields label {
    min-width: 100px;
    display: inline-block;
    font-weight: bold;
}

input.ng-invalid.ng-touched {
    border: 2px solid red;
}

.validationMsg{
    color: red;
    font-weight: bold;
}

.submitButton{
  background-color: greenyellow;
  border-radius: 50%; 
}

.cancelButton{
  background-color: red;
  border-radius: 50%; 
}

.formButtons {
  text-align: center; /* Optional: Centers the buttons within the container */
}

.formButtons button {
  margin: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}