<div>
    <form #productForm="ngForm" (ngSubmit)="logIn()" class="formFields">
        <div>
            <label>Login:</label> <input type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required />
            <span class="validationMsg" *ngIf="username.errors && username.touched">{{validMessages.showErrorMessage(username.errors)}}</span>
        </div>
        <div>
            <label>Hasło:</label> <input type="password" [(ngModel)]="model.password" #password="ngModel" required />
            <span class="validationMsg" *ngIf="password.errors && password.touched">{{validMessages.showErrorMessage(password.errors)}}</span>
        </div>
        <div *ngIf="serverErrors" class="validationMsg">   
            {{serverErrors}}
        </div>
        <div class="formButtons">
            <button class="cancelButton" routerLink=""><i class="fa-solid fa-arrow-left-long" title="Wróć"></i></button>
            <button class="submitButton" type="submit" [disabled]="productForm.invalid || serverErrors"><i class="fa-solid fa-check" title='Zaloguj się'></i></button>
        </div>
    </form>
</div>
