<h2>Koszyk</h2>
<div>Data utworzenia: {{ model.created | date:'d/M/yy H:mm'}}</div>
<div><b>Dodane produkty:</b></div>
<table>
    <tr>
        <th>Nazwa</th>
        <th>Ilość</th>
        <th>Cena(zł)</th>
    </tr>
    <tr *ngFor="let product of model.rows">
        <td> {{ product.productName }} </td>
        <td> {{ product.quantity }} </td>
        <td> {{ product.productPrice * product.quantity | number : '1.2-2' }} </td>
    </tr>
    <tr>
        <td> <b>Razem</b> </td>
        <td></td>
        <td> <b>{{ totalPrice() | number : '1.2-2' }}</b> </td>
    </tr>
</table>