<h1>Lista produktów:</h1>
<a routerLink='product-form'><i class="fa-solid fa-plus" title="Dodaj nowy produkt"></i>Dodaj nowy produkt</a>
<table>
    <tr>
        <th>Nazwa</th>
        <th>Cena</th>
        <th>Narzędzia</th>
    </tr>
    <tr *ngFor="let product of products | async">
        <td> {{product.name}} </td>
        <td> {{product.price}} </td>
        <td>
             <i class="fa-solid fa-pencil" title="Edytuj" *ngIf="isAuthenticated" routerLink='product-form/{{product.productId}}'></i>
             <i class="fa-solid fa-trash-can" title="Usuń" *ngIf="isAuthenticated" (click)="deleteItem(product.productId)"></i>
        </td>
    </tr>
</table>
